.card {
	&__name {
		margin: 30px 0 8px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.39;
		text-align: center;
		letter-spacing: 0.02em;
		color: $title-color;
	}

	&__descr {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.357;
		text-align: center;
		letter-spacing: 0.02em;
		color: $hover-color;
	}
}
