.reasons {
	padding: 120px 0;
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 30px;
	}

	&__wrapper {
		display: flex;
		column-gap: 30px;
		margin: 0 auto;
	}
	&__descr {
		max-width: 500px;
		margin-top: 15px;
	}
	&__h4 {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		color: $descr-color;
		margin-top: 20px;
	}
}
