$descr-color-bg: #9da4bd;
$title-color: #303030;
$white-color: #ffffff;
$hover-color: #ff6c00;
$descr-color: #555555;
$color_4: var(--title-color);
$line-color: rgba(157, 164, 189, 0.6);
$online-booking-bg: #191c26;
$form-input: rgba(157, 164, 189, 0.4);
$barber-bg: #f7f7f7;

$open-sans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;

$color_6: #9da4bd;
$color_7: #fff;
$color_8: #555555;
$color_9: var(--descr-color-bg);
