.online-booking-btn {
	border: 1px solid $hover-color;
	border-radius: 25px;
	width: 160px;
	padding: 12px 0;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	text-align: center;
	color: $white-color;
	display: block;
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	cursor: pointer;

	&:focus {
		background-color: $hover-color;
	}
	&:hover {
		background-color: $hover-color;
	}
}
